.main {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 40px var(--content-padding-x);
}

.promptInput {
  padding-top: 5rem;
}

.error {
  margin-top: 12px;
  color: var(--mantine-color-red-4);
  font-size: 14px;
}
